header {
    background-color: lightskyblue;
    color: white;
   }
   html, body, h1 {
    margin: 0;
    padding: 0;
   }
   body > * {
    padding: 8px;
   }
   body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 120px 1fr 120px;
   }
   header {
    grid-row: 1;
    grid-column: 1 / 4;
    background-color: lightskyblue;
    color: white;
   }
   nav {
    background-color: lightblue;
    grid-row: 2;
    grid-column: 1;
    padding: 8px;
   }
   main {
    grid-row: 2;
    grid-column: 2;
   }
   aside {
    background-color: lightblue;
    grid-row: 2;
    grid-column: 3;
    padding: 8px;
   }
   img{
      width: 100%;
   }
   footer {
    grid-row: 3;
    grid-column: 1 / 4;
    background-color: lightgray;
   }
   